/* logo  */

.logo {
  color: $aditional-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

.logo__text--dark {
  color: $specific-text-color;
}

.logo__text--light {
  color: $main-text-color;
}
