//  contacts
.contacts {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-bottom: 64px;
    margin-top: auto;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.contacts__link {
  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.1;

    transition: color $timing-function;
  }

  &:hover,
  &:focus {
    color: $aditional-color;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.contacts__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-right: 10px;
    fill: currentColor;
  }
  &:hover,
  &:focus {
    color: $aditional-color;
  }
}

.contacts__icon--width {
  width: 14px;
  height: 10px;
}
.contacts__icon--height {
  width: 10px;
  height: 14px;
}
.contacts__number {
  @media screen and (max-width: 767px) {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $aditional-color;
    margin-bottom: 32px;
  }
}

.contacts__mail {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
  }
}
