//  header

.header {
  border-bottom: 1px solid $light-white-color;
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    position: relative;
    height: 60px;
  }
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}
