//  header

.header {
  border-bottom: 1px solid $light-white-color;

  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
