.menu-toggle {
  display: flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $specific-text-color;

  z-index: 995;
  transition: $timing-function;

  &:hover,
  &:focus {
    fill: $aditional-color;
  }
  &.is-open .icon-cros {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  .icon-cros {
    display: none;
  }

  &.icon-cros,
  .icon-menu {
    transition: fill $timing-function;
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  background-color: $main-text-color;
  z-index: 990;

  @media screen and (max-width: 767px) {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    transform: translateY(-100%) scale(0.5);
    transition: translate $timing-function;
  }

  &.is-open {
    display: flex;
    flex-direction: column;
    transform: translateY(0) scale(1);
    transition: translate $timing-function;
  }
}
