.footer {
  background-color: $secondary-background-color;
  color: $main-text-color;
  padding: 60px 0;
  text-align: center;
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer__joint {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
}
