// footer form -subscribe

.subscribe {
  text-align: center;
}
.subscribe__tittle {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-text-color;
  margin-bottom: 20px;
  text-align: center;
}

.subscribe__input {
  // width: 450px;
  height: 50px;
  outline: none;
  border-radius: 4px;
  background-color: inherit;
  border-color: rgba(255, 255, 255, 0.3);

  color: $main-text-color;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding-left: 15px;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }

  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe__button {
  position: relative;
  text-align: center;
  background-color: $aditional-color;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 29px;
}
.subscribe__icon {
  position: absolute;
  left: 72%;
  top: 25%;
}
