/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  z-index: 3;
  opacity: 1;
  transition: opacity $timing-function;

  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: relative;
  @include absolute($t: 50%, $l: 50%);
  width: 320px;
  min-height: 609px;
  padding: 40px 40px;

  background-color: $main-text-color;
  opacity: 1;

  transform: translate(-50%, -50%);

  @media screen and (min-width: 480px) {
    width: 450px;
    min-height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-bottom: 12px;
}
