//    section What we are doing


@media (max-width: 767px) {
  .cards {
    display: none;
  }
}
.cards {
  @include flex-between;

.cards__list {
  @include flex-between;
}

.cards__image {
  @include flex-between;
}

.cards__link {
  position: relative;
  display: block;
}

.cards__text {
  @include absolute($b: 0, $l: 0);
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: $main-text-color;
  background-color: rgba(47, 48, 58, 0.8);
}
