// section customers/clients

.clients__list {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    @include flex-between;
  }
}

.clients__item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  padding: 16px 0;
  box-sizing: border-box;
  border: 1px solid $accent-color;
  border-radius: 4px;
  fill: $accent-color;

  transition: border-color $timing-function, fill $timing-function;

  &:focus,
  &:hover {
    border-color: $aditional-color;
    fill: $aditional-color;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
}
