h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// .section {
//   padding: 94px 0;
// }

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

// tittle2
// .title {
//   color: $primary-text-color;
//   font-size: 36px;
//   line-height: 1.2;
//   text-align: center;
//   margin-bottom: 50px;
// }
// //hidden tittle

// .title-hidden {
//   visibility: hidden;
//   font-size: 0;
// }
