/*   projects    */

.projects {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    margin: -15px;
  }
}

.projects__item {
  background-color: $main-text-color;
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.projects__link {
  display: block;

  transition: box-shadow $timing-function;

  overflow: hidden;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .projects__overlay,
  &:focus .projects__overlay {
    transform: translateY(0);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.projects__card {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  @include absolute($t: 0, $l: 0);
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px 53px 24px;
  color: $main-text-color;
  overflow-y: auto;

  transform: translateY(101%);
  transition: transform $timing-function;
}

.projects__text {
  padding: 24px 20px;
  border: 1px solid $extra-text-color;
  border-top: none;

  flex-grow: 1;
}

.projects__title {
  color: $primary-text-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

.projects__description {
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
  letter-spacing: 0.03em;
}
